<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Brands</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item">
                        <a routerLink="/brands">Brands</a>
                    </li>
                    <li class="breadcrumb-item active">add new brand</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <form (ngSubmit)="createCategorySubmit()" [formGroup]="createBrandForm">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card card-primary">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="sliderTitle">Brand Name</label>
                                <input
                                    class="form-control"
                                    formControlName="name"
                                    id="sliderTitle"
                                    name="name"
                                    type="text"
                                />
                                <div
                                    *ngIf="name?.invalid && name?.touched"
                                    class="text text-danger my-1"
                                >
                                    <div *ngIf="name?.errors?.required">
                                        name field is required
                                    </div>
                                </div>
                                <div class="text text-danger my-1">
                                    <div *ngIf="errors?.name && name?.pristine">
                                        {{ errors?.name }}
                                    </div>
                                </div>
                            </div>
                            <!-- /.form-group -->
                            <div class="d-flex">
                                <div class="form-group mr-5">
                                    <label for="customFile">Brand Image</label>
                                    <div class="custom-file">
                                        <input
                                            (change)="onChooseImage($event)"
                                            class="custom-file-input"
                                            formControlName="image"
                                            id="customFile"
                                            name="image"
                                            type="file"
                                        />
                                        <label
                                            class="custom-file-label"
                                            for="customFile"
                                            >Choose file</label
                                        >
                                    </div>
                                </div>
                                <div
                                    *ngIf="brandImgSrc !== null"
                                    class="d-flex"
                                >
                                    <img
                                        [src]="brandImgSrc"
                                        alt="brand image"
                                        style="
                                            max-width: 10rem;
                                            max-height: 10rem;
                                        "
                                    />
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <a class="btn btn-secondary mx-3" routerLink="/brands"
                        >Back</a
                    >
                    <input
                        [disabled]="createBrandForm.invalid"
                        class="btn btn-success"
                        type="submit"
                        value="Create"
                    />
                </div>
            </div>
        </form>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
